.calendar table *{
    margin: 0;
    padding: 5px;
}

.calendar table th{
    font-weight: 900;
}

.calendar table td{
    text-align: center;
}


.calendar table td span{
    display: inline-block;
    cursor: pointer;
    transition: transform 0.15s ease;
}

.calendar table td span:hover{
    color: aqua;
}

.calendar table td span:active{
    transform: scale(1.2);
}

.header{
    font-size: 1.5rem;
    font-weight: 900;
}